.title {
  margin-top: 20%;
  margin-left: 10%;
  font-size: larger;
}
// .phoneNum{
//   display: flex;
//   margin-top: 10%;
//   margin-left: 10%;
//   .picker {
//     font-size: large;
//   }
//   .numInput{
//     display: block;
//     margin-left: 5%;
//   }
// }

.inputNum,
.inputpwd,
.loginBtn {
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
}
.loginBtn {
  border-radius: 50px 50px 50px 50px;
  color: #fff;
  background-color: #fb841e;
}
.wechatBtn {
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  border-radius: 50px 50px 50px 50px;
  color: #fff;
  background-color: #8cc540;
}
